<!DOCTYPE html>
<html>
  <head>
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
    /> -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>

     <section class="msg-container">
         <ul class="threads">
           <li>
             <div class="circle">  </div>
             <div class="summary"> 
               <div class='top-line'>
               </div> 
               <div class='bottom-line'>
               </div> 
              </div>
           </li>
           <li>
              <div class="circle">  </div>
              <div class="summary">
                <div class='top-line'>
                </div> 
                <div class='bottom-line'>
                </div>
              </div>
            </li>
            <li>
              <div class="circle">
              </div>
              <div class="summary">

                  <div class='top-line'>
                  </div> 
                  <div class='bottom-line'>
                  </div> 
              </div>
            </li>
            <li>
              <div class="circle">  </div>
              <div class="summary"> 
                  <div class='top-line'>
                  </div> 
                  <div class='bottom-line'>
                  </div> 
              </div>
            </li>
            <li>
                <div class="circle">  </div>
                <div class="summary">
                    <div class='top-line'>
                    </div> 
                    <div class='bottom-line'>
                    </div> 
                </div>
            </li>
            <li>
              <div class="circle">  </div>
              <div class="summary">
                  <div class='top-line'>
                  </div> 
                  <div class='bottom-line'>
                  </div> 
              </div>
            </li>
      </ul>
       <section class="convo">
          <div class="grey-bar"> </div>
          <div class="convo-log"> </div>
          <form>
              <input
                id="input-field"
                class="text"
                type="text"
                value=""
              />
              <input
                id="submit-btn"
                class="button"
                type="submit"
                value="send"
              />
            </form>
       </section>
     </section>

    </section>

  </body>
  <script src="/static/js/scripts.js"></script>
</html>
